.box1{color: aliceblue;
    background-color: aqua;
    width:70% ;
height: 25%; ;
font-weight: bold;
font-size: medium;
    
}


.box2{color: aliceblue;
    background-color: blue;
    width:70% ;
height: 25%; ;
font-weight: bold;
font-size: medium;
    
}

.box3{color: aliceblue;
    background-color:green;
    width:70% ;
height: 25%; ;
font-weight: bold;
font-size: medium;
    
}


